* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
  color: white;
}

/* TOP BAR */
.topbar {
  height: 64px;
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  margin-left: 8px;
}
.home-icon{
    width: 48px;
    height: 48px;
    background-color:#242424;
    fill: #ffffff;
    padding: 8px;
    border-radius: 50%;
    margin-left: 12px;   
}
.top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-left i{
  font-size: 20px;
  position: relative;
  right:74%;
  color: #b3b3b3;
}
.top-left input {
  width: 470px;
  height: 45px;
  padding: 2px 62px;
  padding-left: 50px;
  border-radius:40px;
  border: none;
  background: #242424;
  color: white;
  font-size: medium;
}

.top-right span {
  margin-right: 30px;
  color: #b3b3b3;
  font-weight: bold;
  cursor: pointer;
}
.top-right span:hover{
  color: white;
}

.login-btn {
  padding: 4px 20px;
  border-radius: 40px;
  border: none;
  font-weight:bolder;
  height: 45px;
  width: 100px;
}

/* LAYOUT */
.layout {
  display: flex;
  height: calc(100vh - 64px - 72px);
}

/* SIDEBAR */
.sidebar {
  width: 300px;
  background: #181818;
  border-radius: 5px;
  margin: 2px 8px;
}
.sidebar h2{
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
}
.playlist-box{
  width:300px;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-thumb{
  background-color: #b3b3b3;
  border-radius: 2px;
}

.playlist-box1 {
  background: #242424;
  padding: 10px;
  border-radius: 8px;
  margin: 38px 5px;
}
.playlist-box2{
  background-color: #242424;
  padding: 10px;
  border-radius: 8px;
  margin:38px 5px;
}
.playlist-box1 h4,p,.playlist-box2 h4, p{
  margin: 5px;
  font-size: medium;
}
.playlist-box2 button{
  margin-top:10px ;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.playlist-box1 button {
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.footer-links {
  color: #b3b3b3;
  padding: 8px;
  margin: 5px;
}
.footer-links p{
  display: inline-block;
  margin: 8px;
  font-size: 12px;
}
.footer-links a{
  display:block;
  width: fit-content;
  font-size: 15px;
  margin: 8px;
}
.footer-links a:hover{
  color: white;
}

.lang-btn {
  margin: 10px;
  width: 100px;
  background: none;
  border: 1px solid #777;
  color: white;
  padding: 10px 14px;
  border-radius: 20px;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 20px;
  background: linear-gradient(#1e1e1e, #000);
  overflow-y: auto;
  border-radius: 8px;
  height: calc(100vh - 64px - 72px);
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.section-header a{
  color: #b3b3b3;
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  margin-right: 15px;
}
.section-header a:hover{
  color: white;
}

.card-row {
  display: flex;
  gap: 20px;
}

.card {
  width: 180px;
  background: #181818;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card:hover {
  background: #282828;
}

.cover {
  height: 160px;
  background: #333;
  border-radius: 4px;
  margin-bottom: 10px;
}
.card h4{
  padding: 3px;
}
.card p{
  padding: 8px;
  color: #b3b3b3;
  font-size: 13px;
}
.cover img{
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

/* PREVIEW BAR */
.preview-bar {
  margin:4px 10px;
  height: 65px;
  background: linear-gradient(90deg, #af2896, #509bf5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 8px;
}

.preview-bar button {
  height: 50px;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  font-weight: bold;
}
#currentSong{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 65px;
  background-color:#000;
  color: green;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  position: relative;
  left: 26px;
}